.App {
  text-align: center;
}

.navbar {
  display: flex;
  align-items: center;
  border-bottom: 2px solid #333;
  width: 100%;
  justify-content: space-between;
}

.navList {
  justify-content: center;
  display: flex;
  margin-right: 70px;
}

.navContent {
  display: inline-flex; 
  margin: 15px;
}

.title {
  display: inline-flex;
  float: left;
  justify-content: flex-start;
  text-align: left;
  font-size: 25px;
}

.loginBtn {
  background-color: black;
  border-radius: 15%;
  color: white;
  font-size: 16px;
}

a, a:visited {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 20px;
}