.App {
  text-align: center;
}

.navbar {
  display: flex;
  align-items: center;
  border-bottom: 2px solid #333;
  width: 100%;
  justify-content: space-between;
}

.navList {
  justify-content: center;
  display: flex;
  margin-right: 70px;
}

.navContent {
  display: inline-flex; 
  margin: 15px;
}

.title {
  display: inline-flex;
  float: left;
  justify-content: flex-start;
  text-align: left;
  font-size: 25px;
}

.loginBtn {
  background-color: black;
  border-radius: 15%;
  color: white;
  font-size: 16px;
}

a, a:visited {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 20px;
}

.card {
  box-shadow: 0 4px 8px 8px rgba(0,0,0,0.2);
  height: 200px;
  width: 400px;
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: space-between;
  top: 25%;
  left: 38%;
  padding: 50px 35px;
  background-color: rgba(237,237,237,255);
}

.loginBtn {
  width: 100%;
  border-radius: 5px;
  margin: 10px 0px;
}